<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://rcomsii.ddns.net">Con todo nuestro cariño, RComSii.</a>
  </div>
</nav>