<div class="container ">
    <div class="row">
        <div class="col mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1>Consentimiento informado</h1>
                    <h3 align="right">León, Guanajuato a <input type="date"></h3><br>
                    <h4>Distinguido Señor Padre de Familia:</h4>
                    <p>En EQUINETHERAPYDOG,elaboramos material publicitario que contribuya a mantener informado a 
                    nuestro público sobre la forma en que trabajamos con los niños en compañía de  animales,  
                    naturaleza  y  personal  altamente  capacitado. Agradeceríamos que  nos permitiera 
                    reproducir con estos fines las fotografías o videos en las que sale la imagen de su hijo.
                    En el caso de que conceda su autorización, nos comprometemos a usar el material exclusivamente 
                    con los fines antes mencionados.</p>
                    <p>Yo <input type="text">autorizo a EQUINETHERAPYDOG para que pueda utilizar en 
                    sus publicaciones en redes sociales las fotos o videos de mi hijo (a) <input type="text">.</p><br><br>
                    <p align="center"><input type="text"></p>
                    <p align="center">Firma del padre</p><br><br>
                    <address>
                        Lic. Daniela Nicoleta Mic<br>
                        <strong>Pedagogía, Educación Especial.</strong><br>
                        Instalaciones Hípico Candora.<br>
                        Blvd. Las Joyas.<br>
                        Leon, GTO 37000<br>
                        <abbr title="Phone">Tel:</abbr> (477) 123-4567
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>